* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}



section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: red;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .logo {
    position: relative;
    left: -5rem;
    max-width: 13rem;
}

header .links {
    position: relative;
    display: flex;
}

header .links li {
    list-style: none;
}

header .links li a {
    display: inline-block;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.content .textBox h2 span {
    font-size: 2em;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fff;
    color: #111;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}

.content .imgBox {
    width: 600px;
    display: flex;
    margin-top: -2.5rem;
    padding-right: 50px;
    justify-content: flex-end;
}

.tumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}

.tumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.tumb li:hover {
    transform: translateY(-15px);
}

.tumb li img {
    max-width: 60px;
}

.social-media-icons {
    position: absolute;
    top: 50%;
    right: 3.5%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-media-icons li {
    list-style: none;
}

.social-media-icons li img {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    max-width: 35px;
}



